body{
    font-family: sans-serif;
    background: #4a8592;
}
.gb{
    width: 100%;
    height: 250px;
    position: relative;
    display: grid;
    text-align: center;
    top: 100px;
}
.vt{
    font-size: 42px;
    color: #2c1a35;
}
.nt{
    font-size: 36px;
    color: #1c0a26;
}
.list{
    position: relative;
    top: 30px;
    width: 100%;
    height: 350px;
    text-align: center;
}
.nt2{
        position: relative;
    top: 70px;
    font-size: 36px;
    color: #103c2a;
}
ul{
    color: #4d0b48;
    font-size: 34px;
    font-family: sans-serif;
    position: relative;
    left: 600px;
   
}
.cont{
    width: 100%;
    max-width:750px;
    position: relative;
    top: 90px;
    text-align: left;
}